@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<div class="row">
    <div class="card" style="width: 18rem;">
        <img src="~/Content/assets/img/icon-product-5.jpg" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Products</h5>
            <p class="card-text">Edit,Delete,Details</p>
            <a href="~/Products/Index" class="btn btn-primary">Show Products</a>
        </div>
    </div>
    
    <div class="card" style="width: 18rem;">
        <img src="~/Content/assets/img/purchase.png" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Purchases</h5>
            <p class="card-text">Edit,Delete,Details</p>
            <a href="~/Purchases/Index" class="btn btn-primary">Show Purchases</a>
        </div>
    </div>
    

</div>


